body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  max-height: 100%;
  overflow: hidden;
}

.title {
  font-size: 16px;
}

.nickInput {
  padding: 10px;
}

/* The general chat window layout */

.chatContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.chatTop {
  display: block;
}

.chatMiddle {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

.chatBottom {
  display: block;
}

/*  */

.leftColumn {
  display: block;
  flex-grow: 2;
}

.rightColumn {
  display: block;
  border-left: 2px solid black;
  width: 10em;
}

.chatLog {
  font-family: monospace;
  list-style: none;
  padding: 0px;
  overflow-y: scroll;
  display: block;
}

.chatLog.col-10 {
  max-width: 100%;
}

.messageList {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}

.message {
  padding-left: 10px;
}

.message-highlight {
  padding-left: 10px;
  font-weight: bold;
  color: blue;
}

.refreshButtons {
  padding-left: 10px;
  display: inline-block;
}

.refreshButton {
  margin-left: 10px;
}

.loginForm {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login input {
  border-radius: 5px;
}

.form-login.btn {
  border-radius: 5px;
}

.userList {
  padding-left: 10px;
}

.connectionStatus {
  margin-left: 10px;
}

.chatRoom {
  margin-left: 10px;
}

pre {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
